@import "./variables.scss";
h1{
    color:$red;
}
body{
    width:1024px;
    margin:0px auto;
    text-align: center;
}
.photo{
    width:324px;
    height:248px;
    display:inline-block;
    background:url('../img/89.jpg');
    background-size: 100% 100%;
}
.book{
    width:128px;
    height:128px;
    display:inline-block;
    background:url('../img/book.png');
}